.present {
  background-color: #d4edda;
  color: green;
}

.absent {
  background-color: #f8d7da;
  color: red;
}

.wfh {
  background-color: #d1ecf1;
  color: blue;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #f2f2f2;
}
